.container {
  background-color: rgb(64, 169, 243);
}

header {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

footer {
  padding: 3px;
  text-align: center;
  color: #fff;
}

span {
  text-align: center;
}

.anime {
  padding: 10px;
}
